### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
### ignora database###
src/utils/dbHotels.json
src/utils/dbUsers.json
src/utils
### Eclipse ###
.apt_generated
.idea
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store